body {
  background: #1f2630;
  color: white;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.footer-bg {
  background: linear-gradient(
      to right top,
      rgb(24 24 36),
      rgb(0 0 0),
      rgb(21 23 41)
    )
    no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #1d293a;
}

::-webkit-scrollbar-thumb {
  background-color: #19a7ce;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .bg-line {
    height: auto;
    background-size: cover;
  }

  .bg-line-md {
    height: auto;
  }
}

.icon-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}

.icon-container {
  margin: 0.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

/*Glass__Card__Effect*/
.crystal {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.06);
}

/* Tab__Style */
.react-tabs__tab--selected {
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.04) !important;
  background: rgba(255, 255, 255, 0.06) !important;
  color: #fff !important;
}

.react-tabs__tab-list {
  border-bottom: none !important;
  border-radius: 10px !important;
  padding: 10px !important;
  background: rgba(255, 255, 255, 0.06) !important;
}

.react-tabs__tab:focus:after {
  background: none !important;
}
